:root {
  --cor-fundo: #84aed1;
  --cor-principal: #fafaf6;
  --cor-secundaria: #a3bbdf;
  --cor-destaque: #091314;
  --cor-texto: #0b1113;
}
body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.caixa-principal {
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}
h1 {
  color: var(--cor-destaque);
}